.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.row.top{
	align-items: flex-start;
}
.col-1{
	flex: 1 1 25rem;
}
.col-2{
	flex: 2 1 50rem;
}
.row.center{
	justify-content: center;
}
.bgs{
    background-color: blueviolet;
    opacity: 0.4;
}
.bgs1{
    background-color: royalblue;
    opacity: 0.4;
    color: #fff;
}
.bgs2{
    background-color: darkgoldenrod;
    opacity: 0.4;
    color: #fff;
}
.opacity{
    opacity: 0.5;
}
.small-img{
    width: 50%;
    height: 100%;
}
img .small-img{
    width: 100%;
}