.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.db {
    display: block;   /*pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns=*/
    width: 100%;
    height: 70%;
}
header .ngsoft{
    margin-top: -40px;
}
.bgclr{
    color: #eee;
    background: linear-gradient(to right, rgb(12, 7, 80), rgb(15, 194, 173));
}
.ng{
    color: green;
}
.soft{
    color: goldenrod;
    text-transform: capitalize;
}
.at{
 color: rgb(112, 112, 246);
    
}
.fmt{
    text-transform: capitalize;
}

.flex {
    display: flex;
}
.fle{
    display: flex;
    justify-content: space-around;
    background-color: linear-gradient(to right, rgb(12, 7, 80), rgb(15, 194, 173));
    line-height: 2.5;
    font-size: 1.2rem;  
}

.flex-column {
    flex-direction: column;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.athelas {
    font-family: athelas, georgia, serif;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.mw7 {
   width: 80%;
}

.w-100 {
    width: 100%;   /* pv4 bt bb b--black-10 ph3 ph0-l*/
}
.col1,
.cl2,
.c1{
    color: rgb(12, 7, 80);
}
.col2{
    color: rgb(255, 0, 0);
}
.col3,
.cl1{
    color: rgb(7, 7, 206);
}
.c3{
    color: goldenrod;
    text-decoration: underline;
}
.gray {
    color: #777;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt0 {
    margin-top: 0;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.ttu {
    text-transform: uppercase;
}
.f3 {
    font-size: 1.5rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.staff_title,
.staff_qoute{
    font-size: 1.5rem;
    font-weight: 400;
    font-variant: inherit;
    color: crimson;
    display: flex;
    justify-content: center;
    text-align-last: center;
}
.staff_qoute{
    color: cornflowerblue;
}
@media screen and (min-width: 30em) {
    .flex-row-ns {
        flex-direction: row;
    }

    .order-1-ns {
        order: 1;
    }

    .order-2-ns {
        order: 2;
    }

    .w-40-ns {
        width: 50%;
    }

    .w-60-ns {
        width: 60%;
    }

    .pl3-ns {
        padding-left: 1rem;
    }

    .pr3-ns {
        padding-right: 1rem;
    }

    .mb0-ns {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 60em) {
    .ph0-l {
        padding-left: 0;
        padding-right: 0;
    }

    .f4-l {
        font-size: 1.25rem;
    }
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-70 {
    border-color: rgba(0, 0, 0, .7);
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.times {
    font-family: times, serif;
}

.i {
    font-style: italic;
}

.fw4 {
    font-weight: 400;
}

.fw7 {
    font-weight: 700;
}

.tracked {
    letter-spacing: .1em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.pb4 {
    padding-bottom: 2rem;
}

.pt5 {
    padding-top: 4rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mt0 {
    margin-top: 0;
}

.ttu {
    text-transform: uppercase;
}

.f2 {
    font-size: 2.25rem;
}

.f3 {
    font-size: 1.5rem;
}

.f4 {
    font-size: 1.25rem;
}

.measure {
    max-width: 30em;
}

.measure-narrow {
    max-width: 20em;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}


.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.w-100 {
    width: 100%;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-near-white {
    background-color: #f4f4f4;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .w-50-ns {
        width: 50%;
    }
}



/* NgSift @ glance */
.lh-copy {
    line-height: 1.5;
}
.txtcut{
    width: 30%;
    margin-left: -20px;
    text-decoration: underline;
}

.pa3 {
    padding: 1rem;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}
.lh-copy {
    line-height: 1.5;
}

.w-100 {
    width: 100%;
}

.pa3 {
    padding: 1rem;
}

.f2 {
    font-size: 2.25rem;
}

.f5 {
    font-size: 1rem;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}


