.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.row.top{
	align-items: flex-start;
}
.colum-1{
	flex: 1 1 25rem;
}
.colum-2{
	flex: 2 1 50rem;
}
.row.center{
	justify-content: center;
}
.mid-30{
	min-width: 30rem;
}
/*Images */
img{
	border-radius: 0.5rem;
}
img.small{
	max-width: 10rem;
	width: 100%;
}
img.min-small{
	max-width: 5rem;
	width: 100%;
}
img.medium {
	max-width: 20rem;
  width: 100%;
	height: 200px;
}

img.large{
	width: 70%;
}
.flex-style{
    	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}