*{
	box-sizing: border-box;
	margin: 0;
}

:root{
	--heights: 100vh;
	--widths: 100%;
}

.slider-container{
	height: 100vh;
	width: 85%;
	position: relative;
	margin: auto;
	overflow: hidden;
}

.active{
	display: inline-block;
}

.inactive{
	display: none;
}

.slides{
	height: var(--heights);
	width: var(--widths);	
	position: absolute;
}

.slide-image{
	width: 100%;
	height: 100vh;
	position: absolute;
	object-fit: cover;
}

.slide-text,
.slider-subtitle,
.slide-title{
	padding: 10px;
	margin-bottom: 50px;
	width: 50%;
	height: 70%;
	color: rgb(251, 0, 21);	
	font-size: 50px;
	position: absolute;
	top: 15%;
	z-index: 10;
}

.slide-text{
	top: 30%;
	font-size: 2rem;
}

.prev, .next{
	cursor: pointer;
	z-index: 100;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 1rem;
	margin-top: -3rem;
	font-size: 30px;
	font-weight: bold;
	border-radius: 0px 5px 5px 0px;
}

.prev:hover, .next:hover{
	color: #fff;
	background-color: rgba(0, 0,0, 0.6);
	transition: all 0.5s ease-in;
}

.next{
	right: 0;
	border-radius: 5px 0px 0px 5px;
}
.prev{
	margin-left: 20px;
	left: 0;
}

.all-dots{
	width: 100%;
	height: 100%;
	position: absolute ;
	display: flex;
	top: 85%;
	justify-content: center;
	z-index: 200;
}

.dot{
	cursor: pointer;
	height: 1.5rem;
	width: 1rem;
	margin: 0px 3px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	display: inline-block ;
}

.active-dot, .dot:hover{
	background-color: rgba(255, 255, 255, 0.5);
}