@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.clearfix{
  clear:both;
}
a{
  text-decoration:none;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
a:hover{
  text-decoration:none;
  outline:none;
}
.ng{
    color: green;
}
.soft{
    color: goldenrod;
    text-transform: capitalize;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.row.top{
	align-items: flex-start;
}
.col-1{
	flex: 1 1 25rem;
}
.col-2{
	flex: 2 1 50rem;
}
.row.center{
	justify-content: center;
}

.bottom-top{
  padding-top: 20px;
 bottom: 40px;
 /* opacity: .8; */
 font-size: larger;
}
.top{
  padding-top: 100px;
}
.opacity-bg{
  background: fixed;
  background-color: black;
  opacity: 0.6;
}
.text{
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 800px;
    margin: auto;
    opacity: 0.6;
}
.text.row.center{
  align-items: center;
  color: black;
}
.htag{
margin-top: 40px;
height: auto;
opacity: 0.5;
line-height: 25px;
font-family: sans-serif;
font-weight: 800;
font-size: 32px;
margin-bottom: 20px;
align-items: center;
}
.text{
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}
.card-title{
  font-size: 1.5rem;
  color: dodgerblue;
  opacity: 0.7;
  margin-top: 10px;
}
.card-text{
  color: rgb(2, 42, 70);
  opacity: 0.7;
  font-weight: 500;
  font-size: 1rem;
}
.btn-style{
  background-color: goldenrod;
  border-radius: 3px;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
}
.particles{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.bgc{
  background-color: #eedfee;
  opacity: 0.8;
}
.img-style{
  display: flex;
  width: 250px;
  height: 300;
  background-color: cadetblue;
}
.p-text{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.containers{
  display: grid;
  width: 40vw;
  height: 60vh;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 0.2fr 0.2fr 0.2fr;
  grid-area: "gap";
  grid-gap: 1rem
}